@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme {
	--color-dark-100: var(--color-zinc-900);

	--color-light-200: var(--color-zinc-50);
	--color-light-100: var(--color-white);

	--color-gray-100: var(--color-zinc-400);

	--color-danger: var(--color-red-500);

	--color-safe: var(--color-emerald-500);

	--color-do: var(--color-green-500);
	--color-schedule: var(--color-yellow-500);
	--color-delegate: var(--color-blue-500);
	--color-delete: var(--color-zinc-500);
}

@layer base {
	body {
		@apply bg-light-200 dark:bg-dark-100;
	}
}

@utility bg-light200_dark100 {
	@apply bg-light-200 dark:bg-dark-100;
}

@utility bg-dark100_light200 {
	@apply bg-dark-100 dark:bg-light-200;
}

@utility text-dark100_light100 {
	@apply text-dark-100 dark:text-light-100;
}
